{% extends '../base.html' %}
{% load static %}


{% block body %}

{% load crispy_forms_tags %}
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus datos</h2>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form  }}
                            <a href="{% url 'inicio' %}">Ir a inicio</a>
                            <input type="submit" value="ingresar" class="btn btn-success float right">

                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div> 

<!-- PIE DE PAGINA -->
<div class="row">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'inicio' %}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="https://www.Instagram.com" class="nav-link px-2 text-muted"
                    target="_blank">Instagram</a></li>
            <li class="nav-item"><a href="https://www.Facebook.com" class="nav-link px-2 text-muted"
                    target="_blank">Facebook</a></li>
        </ul>
        <p class="text-center text-muted">©2023 PawPetShop</p>
    </footer>
</div>


{% endblock %}



{% block script %}

{% endblock %}

<!-- 