{% extends './base.html' %}
{% load static %}

{% block body %}


    <div class="container">
        <h4 onload="mostrarHora()" class="hora" id="miReloj"></h4>
    </div>
    <body>
        <div class="container">
            <h3 class="bg-info ">Listado de productos</h3>
    
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row ">
                            <div onload= "ready()" class="cantidad">
                            <div class="selector-cantidad">
                                <button class="btn btn-primary " data-accion="restar" data-target="resultado-1">-</button>
                                <input id="resultado-1" class="input-resultado col-4 col-m-4 col-lg-2" type="text" value="0" disabled>
                                <button class="btn btn-primary " data-accion="sumar" data-target="resultado-1">+</button>
                            </div>
                        </div>
                        </th>
                        <td>CHAMPION CAT - Alimento mojado gato</td>
                        <td>$12.000</td>
                        <td>
    
                            <!-- MODAL -->
                            <button type="button" class="btn btn-danger " data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Eliminar</button>
                            <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar el producto?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <th scope="row">
                            <div onload= "sumarCantidad()" class="cantidad">
                                <div class="selector-cantidad">
                                    <button class="btn btn-primary " data-accion="restar" data-target="resultado-2">-</button>
                                    <input id="resultado-2" class="input-resultado col-4 col-m-4 col-lg-2" type="text" value="0" disabled>
                                    <button class="btn btn-primary " data-accion="sumar" data-target="resultado-2">+</button>
                                </div>
                            </div>
                        </th>
                        <td>DOG CHOW - Alimento seco perro</td>
                        <td>$13.990</td>
    
                        <td>
    
                            <!-- MODAL -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Eliminar</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar el producto?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div onload= "sumarCantidad()" class="cantidad">
                                <div class="selector-cantidad">
                                    <button class="btn btn-primary " data-accion="restar" data-target="resultado-3">-</button>
                                    <input id="resultado-3" class="input-resultado col-4 col-m-4 col-lg-2" type="text" value="0" disabled>
                                    <button class="btn btn-primary " data-accion="sumar" data-target="resultado-3">+</button>
                                </div>
                            </div>
                        </th>
                        <td>CAT LITTER - Arena para gatos</td>
                        <td>$50.990</td>
    
                        <td>
    
                            <!-- MODAL -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Eliminar</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar el producto?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div onload= "sumarCantidad()" class="cantidad">
                                <div class="selector-cantidad">
                                    <button class="btn btn-primary " data-accion="restar" data-target="resultado-4">-</button>
                                    <input id="resultado-4" class="input-resultado col-4 col-m-4 col-lg-2" type="text" value="0" disabled>
                                    <button class="btn btn-primary " data-accion="sumar" data-target="resultado-4">+</button>
                                </div>
                            </div>
                        </th>
                        <td>B.B COOKIE - Alimento seco gato</td>
                        <td>$10.990</td>
    
                        <td>
    
                            <!-- MODAL -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Eliminar</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar el producto?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div onload= "sumarCantidad()" class="cantidad">
                                <div class="selector-cantidad">
                                    <button class="btn btn-primary " data-accion="restar" data-target="resultado-5">-</button>
                                    <input id="resultado-5" class="input-resultado col-4 col-m-4 col-lg-2" type="text" value="0" disabled>
                                    <button class="btn btn-primary " data-accion="sumar" data-target="resultado-5">+</button>
                                </div>
                            </div>
                        </th>
                        <td>DRONTAL PUPPY - Desparasitante</td>
                        <td>$15.000</td>
    
                        <td>
    
                            <!-- MODAL -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Eliminar</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar el producto?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div onload= "sumarCantidad()" class="cantidad">
                                <div class="selector-cantidad">
                                    <button class="btn btn-primary " data-accion="restar" data-target="resultado-6">-</button>
                                    <input id="resultado-6" class="input-resultado col-4 col-m-4 col-lg-2" type="text" value="0" disabled>
                                    <button class="btn btn-primary " data-accion="sumar" data-target="resultado-6">+</button>
                                </div>
                            </div>
                        </th>
                        <td>PEDIGREE - Alimento mojado perro</td>
                        <td>$12.000</td>
    
                        <td>
    
                            <!-- MODAL -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Eliminar</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar el producto?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <tr>
                            <th scope="row">
                                <div onload= "sumarCantidad()" class="cantidad">
                                    <div class="selector-cantidad"></div>
                                </div>
                            </th>
                            <td><b>Total</b></td>
                            <td><b>$114.970</b></td>
        

                        </tr>
                    </tr>
                </tbody>
            </table>
            <!-- Button trigger modal -->
            <div class="container text-center">
            <button type="submit" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Pagar
            </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmación ded Productos</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Una vez haya confirmado su pedido se procedera a seleccionar el metodo de envio
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <!-- PIE DE PAGINA -->  
    <div class="row">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'inicio' %}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="https://www.Instagram.com" class="nav-link px-2 text-muted"
                        target="_blank">Instagram</a></li>
                <li class="nav-item"><a href="https://www.Facebook.com" class="nav-link px-2 text-muted"
                        target="_blank">Facebook</a></li>
            </ul>
            <p class="text-center text-muted">©2023 PawPetShop</p>
        </footer>
    </div>
{% endblock %}

{% block script %}

{% endblock %}