{% extends './base.html' %}
{% load static %}

{% block body %}
    <h1>
        Login
    </h1>


      <!-- Formulario inicio sesion -->
      <div class="container">
        <div class="container">
            <h4 onload="mostrarHora()" class="hora" id="miReloj"></h4>
        </div>
        <h1 class="text-center mt-3">Iniciar Sesion</h1><br>
        <div class="row abs-center">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div onload= "validarLogin()" class="formlogin">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtUser" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">Nunca compartiremos tu correo con nadie mas.</div>
                    </div>
                    <div class="container">
                        <label for="exampleInputPassword1" class="form-label" >Contraseña</label>
                    </div>
                    <div class="input-group mb-3">
                        <input id="txtPass" type="password" class="form-control"  placeholder="Contraseña" aria-label="Recipient's username" aria-describedby="button-addon2" >
                        <button onclick="password()" class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <svg id="mostrar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill"
                                viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
                            
                            <svg id="ocultar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path
                                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                <path
                                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                            </svg>
                        </button>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recordar</label>
                    </div>
                    <button onclick="validarLogin()" type="submit" class="btn btn-primary mb-3">Iniciar Sesion</button>
                    <div>
                        <label for="">¿No tienes una cuenta?    </label><a href="{% url 'registro' %}">Registrate</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

    <!-- PIE DE PAGINA -->  
    <div class="row">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'inicio' %}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="https://www.Instagram.com" class="nav-link px-2 text-muted"
                        target="_blank">Instagram</a></li>
                <li class="nav-item"><a href="https://www.Facebook.com" class="nav-link px-2 text-muted"
                        target="_blank">Facebook</a></li>
            </ul>
            <p class="text-center text-muted">©2023 PawPetShop</p>
        </footer>
    </div>
{% endblock %}


{% block script  %}

{% endblock %}